{% extends "base.html" %}

{% block title %}Ver clientes | Quoter{% endblock %}

{% block page_content %}
<header>
    <h1>Seleccionar cliente</h1>
</header>
<form action="{{ url_for('clients.seleccionar_cliente') }}" method="POST">
    <div class="form-group">
        <select name="cliente">
            {% for cliente in clientes %}
            <option value="{{ cliente }}">{{ cliente }}</option>
            {% endfor %}
        </select>
    </div>
    <input type="submit" value="Ver" type="btn">
</form>
{% endblock %}